X-Repolib-Name: SecureBoot
Types: deb
URIs: http://download.opensuse.org/repositories/home:/jloeser:/secureboot/xUbuntu_{{ ansible_distribution_version }}
Signed-By: {{ secureboot_apt_key_dst}}
Suites: /
Enabled: yes
Architectures: amd64