  deb http://archive.ubuntu.com/ubuntu {{ubuntu_release}} universe
  deb-src http://archive.ubuntu.com/ubuntu {{ubuntu_release}} universe

  deb http://security.ubuntu.com/ubuntu {{ubuntu_release}}-security universe
  deb-src http://security.ubuntu.com/ubuntu {{ubuntu_release}}-security universe

  deb http://archive.ubuntu.com/ubuntu {{ubuntu_release}}-updates universe
  deb-src http://archive.ubuntu.com/ubuntu {{ubuntu_release}}-updates universe

  deb http://archive.ubuntu.com/ubuntu {{ubuntu_release}}-backports universe
  deb-src http://archive.ubuntu.com/ubuntu {{ubuntu_release}}-backports univers
