Types: deb
URIs: https://us.archive.ubuntu.com/ubuntu/
Suites: {{ubuntu_release}} {{ubuntu_release}}-updates {{ubuntu_release}}-backports
Components: main restricted universe multiverse
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg

Types: deb
URIs: https://security.ubuntu.com/ubuntu/
Suites: {{ubuntu_release}}-security
Components: main restricted universe multiverse
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
